div
  if (streams.length)
    Header(client=client)

  Grid(fluid, style="padding: 40px 20px;")
    if (game_name)
      h2(style="fontWeight: normal; fontSize: 30px;")= game_name
    if (streams.length)
      Row
        each stream in streams
          Stream(key="streams-#{stream._id}", client=client, stream=stream, endScrollTimeout=300)
