div.streams-header
  div.pull-left.streams-header-col
    a.menu-switch(onClick=this.onToggleMenu.bind(this))
      if (client.display_menu)
        span.glyphicon.glyphicon-triangle-left
      else
        span.glyphicon.glyphicon-triangle-right
  div.pull-left.streams-header-col
    div.checkbox.checkbox-inline.checkbox-primary(onClick=this.onToggleAutoPlay.bind(this))
      input(type="checkbox", checked=client.auto_play, readOnly)
      label
        b Auto play
  div.pull-left.streams-header-col
    div.checkbox.checkbox-inline.checkbox-primary(onClick=this.onToggleMixSounds.bind(this))
      input(type="checkbox", checked=client.mix_sounds, readOnly)
      label
        b Mix sounds
